[include fluidd.cfg]
[exclude_object]
[respond]

#====================================================================
# Serial Connection
#====================================================================
[mcu]
serial: /dev/serial/by-id/usb-Klipper_rp2040_4550357127901338-if00
restart_method: command

#[temperature_sensor SKR Mini]
#sensor_type: temperature_mcu

#[temperature_sensor Rasp. Pi]
#sensor_type: temperature_host

#[temperature_sensor EBB36]
#sensor_type: temperature_mcu
#sensor_mcu: EBBCan

#====================================================================
# PRINTER LIMIT SETTINGS
#====================================================================
[printer]
kinematics: cartesian
max_velocity: 350
max_accel: 4500
max_z_velocity: 5
max_z_accel: 100


###############################Macros and related################################
#This secton contains macros and related config sections. Some should be used, others are optional. Read the comment above each one to find out whether or not to uncomment it for your installation.


#[save_variables]
#filename: ~/printer_data/config/variables.cfg


#[delayed_gcode RESTORE_PROBE_OFFSET]
#initial_duration: 1.
#gcode:
#  {% set svv = printer.save_variables.variables %}
#  {% if not printer["gcode_macro SET_GCODE_OFFSET"].restored %}
#    SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=runtime_offset VALUE={ svv.nvm_offset|default(0) }
#    SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=restored VALUE=True
#  {% endif %}

# [gcode_macro G28]
# rename_existing: G28.1
# gcode:
#   G28.1 {rawparams}
#   {% if not rawparams or (rawparams and 'Z' in rawparams) %}
#     PROBE
#     # SET_Z_FROM_PROBE
#   {% endif %}
  
#=====================================================
# Z OFFSET
#=====================================================
[gcode_macro Z_OFFSET]
gcode:
  G28
  G0 X57.5
  G0 Y55
  G0 Z7.00
  Z_ENDSTOP_CALIBRATE
# [gcode_macro SET_Z_FROM_PROBE]
# gcode:
#     {% set cf = printer.configfile.settings %}
#     SET_GCODE_OFFSET_ORIG Z={printer.probe.last_z_result - cf['probe_eddy_current btt_eddy'].z_offset + printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset}
#     G90
#     G1 Z{cf.safe_z_home.z_hop}



#[gcode_macro Z_OFFSET_APPLY_PROBE]
#rename_existing: Z_OFFSET_APPLY_PROBE_ORIG
#gcode:
#  SAVE_VARIABLE VARIABLE=nvm_offset VALUE={ printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset }


[gcode_macro Z_OFFSET]
gcode:
  G28
  PROBE_CALIBRATE

[gcode_macro Z_OFFSET_SAVE]
gcode:
  SAVE_CONFIG
  

# [gcode_macro BED_MESH_CALIBRATE]
# rename_existing: BTT_BED_MESH_CALIBRATE
# gcode:
#   BTT_BED_MESH_CALIBRATE METHOD=rapid_scan

[gcode_macro FULL_BED_MESH]
description: Clear bed mesh, home all axes, and run a fresh bed mesh calibration
gcode:
    BED_MESH_CLEAR
    G28
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE SAVE=default


#====================================================================
# KLIPPER SCREEN
#====================================================================

[virtual_sdcard]
path: /home/ian/printer_data/gcodes
on_error_gcode: CANCEL_PRINT
#[display_status]
#[pause_resume]

#====================================================================
# X STEPPER
#====================================================================
[stepper_x]
step_pin: gpio11
dir_pin: !gpio10
enable_pin: !gpio12
microsteps: 64
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0
position_endstop: 0
position_min: 0
position_max: 233
homing_speed: 40

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
diag_pin:^gpio4
run_current: 0.8
stealthchop_threshold: 999999
uart_address: 0
sense_resistor: 0.150
interpolate: False
driver_SGTHRS: 100

#====================================================================
# Y STEPPER
#====================================================================
[stepper_y]
step_pin: gpio6
dir_pin: gpio5
enable_pin: !gpio7
microsteps: 64
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
position_endstop: -24
position_min: -24
position_max: 205
homing_speed: 40

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
diag_pin: ^gpio3
run_current: 0.8
stealthchop_threshold: 999999
uart_address: 2
sense_resistor: 0.150
interpolate: False   
driver_SGTHRS: 100

#====================================================================
# Z STEPPER
#====================================================================
[stepper_z]
step_pin: gpio19
dir_pin: gpio28
enable_pin: !gpio2
microsteps: 64
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_max: 258
position_min: -2.5
homing_speed: 4

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
diag_pin:^gpio3
run_current: 0.8
stealthchop_threshold: 999999
uart_address: 1
sense_resistor: 0.150
interpolate: False

#====================================================================
# EXTRUDER
#====================================================================
[extruder]
step_pin: gpio14
dir_pin: gpio13
enable_pin: !gpio15
rotation_distance: 4.588411160722498
microsteps: 16
full_steps_per_rotation: 200
max_extrude_only_distance: 500
#max_extrude_only_velocity: 30 or 60 / 120
#max_extrude_only_accel: 600 or 800
pressure_advance: 0.1 
pressure_advance_smooth_time: 0.02 
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: gpio23
sensor_pin: gpio27
sensor_type: Generic 3950
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 270
max_power: 0.5

# sensor_type: MAX31865
# sensor_pin: EBBCan: PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 3
run_current: 0.85
hold_current: 0.1
stealthchop_threshold: 0

#====================================================================
# HEATED BED
#====================================================================

[heater_bed]
heater_pin: gpio21
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpio26
#control: pid
#pid_kp: 64.440
#pid_ki: 0.773
#pid_kd: 1343.571
min_temp: 0
max_temp: 130

#====================================================================
# BED SCREWS
#====================================================================
[bed_screws]
screw1_name: front left
screw1: 26.5, 31
screw2_name: front right
screw2: 196.75, 31
screw3_name: back right
screw3: 196.75, 201
screw4_name: back left
screw4: 26.5, 201

#====================================================================
# SCREW TILT ADJUST
#====================================================================
[screws_tilt_adjust]
screw1_name: center
screw1: 84.50, 135
screw2_name: front left
screw2: 0, 51
screw3_name: front right
screw3: 169.75, 51
screw4_name: back right
screw4: 169.75, 221
screw5_name: back left
screw5: 0, 221
horizontal_move_z: 10

[probe]
pin: gpio22
x_offset: 27
y_offset: -20
#z_offset: 0
samples: 3
samples_result: median
samples_tolerance: 0.01
samples_tolerance_retries: 5


#====================================================================
# FANS
#====================================================================

# [controller_fan mainboard_fan]
# pin: PC7
# idle_timeout: 60
# fan_speed: 1.0

[fan]
pin: gpio17


[heater_fan heatbreak_cooling_fan]
pin: gpio18


[heater_fan controller_fan]
pin: gpio20

#====================================================================
# SAFE Z HOME
#====================================================================
[safe_z_home]
home_xy_position: 84.50,135
z_hop: 10
z_hop_speed: 5
speed: 100.0

#====================================================================
# BED MESH
#====================================================================
[bed_mesh]
speed: 175
mesh_min: 27, 6
mesh_max: 222, 203
probe_count: 7,7
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

#//// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ 
#\\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// 
#
#                              MACROS
#
#//// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ 
#\\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// 


#=====================================================
# MACROS
#=====================================================
[gcode_macro POOPY]
gcode:
  SAVE_GCODE_STATE NAME=poopy
  G0 X4 Y4 F10000
  G0 Z0.4
  G91
  G1 X100 E20 F1000
  RESTORE_GCODE_STATE NAME=poopy


[gcode_macro PRINT_START]
gcode:
   {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}
  
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}

  {% set startX = printer.configfile.settings.safe_z_home.home_xy_position[0]|float %}
  {% set startY = printer.configfile.settings.safe_z_home.home_xy_position[1]|float %}

  G90
  G1 X{startX} Y{startY} F10000

  M140 S{ target_bed } ; set bed temp
  M190 S{ target_bed } ; wait for bed temp

  BED_MESH_CALIBRATE

  G1 Z0.6 X40 Y4 F2000.06

  M104 S{ target_extruder } ; set extruder temp
  M109  S{ target_extruder } 

  POOPY

[gcode_macro PRINT_END]
gcode:
    M400                    ; wait for current moves
    G92 E0                  ; reset extruder position
    G1 E-4.0 F1800          ; retract filament slower

    G91                     ; relative positioning
    G0 Z10 F1200            ; lift nozzle slowly
    G4 P500                 ; wait 0.5 seconds

    G90                     ; absolute positioning
    G0 X223 F3000           ; move to right side slower
    G0 Y{printer.configfile.config["stepper_y"]["position_max"]|float - 10} F3000

    TURN_OFF_HEATERS
    M107


[gcode_macro M601] 
gcode: 
  pause

[gcode_macro LEVEL_BED_SCREWS]
description: Calculate the required adjustment of screws to level bed.
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}

    G90
    G1 Z10 F600
    M400

    SCREWS_TILT_CALCULATE

[gcode_macro Z_OFFSET]
gcode:
  G28
  PROBE_CALIBRATE

[gcode_macro Z_OFFSET_SAVE]
gcode:
  SAVE_CONFIG

[gcode_macro PARK_CENTER]
description: Home if needed, then move to centre at Z=7.5mm
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}

    G90
    G1 Z10 F600
    M400

    G1 X113 Y102 F6000
    G1 Z7.5 F600

[gcode_macro DISABLE_MOTORS]
description: Temporarily disable all motors.
gcode:
      M18

[gcode_macro SHOW_COORDINATES]
description: Show the coordinates of all axis.
gcode:
      M114

[gcode_macro GANTRY_LEVEL]
description: Home if needed, then move X and Y to center, and Z to 18.1 (to allow for manual gantry level.)
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}

    G90
    G1 Z10 F600
    M400

    G1 X113 Y102 F6000
    G1 Z18.1 F600

    M18

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 0.900
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.055360, -0.082120, -0.068181, -0.044007, -0.038207, -0.075626, -0.084846, -0.084008, 0.038636
#*# 	-0.008072, 0.005107, 0.038835, 0.057078, 0.075967, 0.055161, 0.061353, 0.074434, 0.012503
#*# 	-0.000629, 0.060756, 0.077643, 0.076087, 0.091329, 0.055934, 0.045522, 0.047645, 0.035974
#*# 	0.016836, 0.038422, 0.052399, 0.052539, 0.066190, 0.053808, 0.054489, 0.065797, 0.008792
#*# 	0.008184, 0.066319, 0.070446, 0.064462, 0.050025, 0.027267, 0.022657, 0.031447, 0.014867
#*# 	0.011628, 0.032804, 0.042610, 0.026797, 0.024715, 0.027598, 0.035174, 0.048534, 0.006560
#*# 	0.018388, 0.060207, 0.059210, 0.042216, 0.038260, 0.017068, 0.011982, 0.026539, 0.009083
#*# 	-0.001545, 0.019224, 0.031012, 0.024444, 0.032233, 0.024024, 0.040234, 0.060536, 0.023478
#*# 	0.012863, 0.045071, 0.038363, 0.025363, 0.025603, 0.015420, 0.030398, 0.038811, 0.020884
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 217.96
#*# min_y = 10.0
#*# max_y = 190.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.164
#*# pid_ki = 1.275
#*# pid_kd = 992.735
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.172
#*# pid_ki = 9.130
#*# pid_kd = 10.065
