#====================================================================
# X STEPPER
#====================================================================
[stepper_x]
step_pin: gpio11
dir_pin: !gpio10
enable_pin: !gpio12
microsteps: 64
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0
position_endstop: 0
position_min: 0
position_max: 233
homing_speed: 40

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
diag_pin:^gpio4
run_current: 0.8
stealthchop_threshold: 999999
uart_address: 0
sense_resistor: 0.150
interpolate: False
driver_SGTHRS: 100

#====================================================================
# Y STEPPER
#====================================================================
[stepper_y]
step_pin: gpio6
dir_pin: gpio5
enable_pin: !gpio7
microsteps: 64
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
position_endstop: -24
position_min: -24
position_max: 203
homing_speed: 40

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
diag_pin: ^gpio3
run_current: 0.8
stealthchop_threshold: 999999
uart_address: 2
sense_resistor: 0.150
interpolate: False   
driver_SGTHRS: 100

#====================================================================
# Z STEPPER
#====================================================================
[stepper_z]
step_pin: gpio19
dir_pin: gpio28
enable_pin: !gpio2
microsteps: 64
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
# endstop_pin: gpio25
position_max: 258
position_min: -10
homing_speed: 4

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
diag_pin:^gpio3
run_current: 0.8
stealthchop_threshold: 999999
uart_address: 1
sense_resistor: 0.150
interpolate: False

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
run_current: 0.7
stealthchop_threshold: 999999


#====================================================================
# EXTRUDER
#====================================================================
[extruder]
step_pin: gpio14
dir_pin: gpio13
enable_pin: !gpio15
heater_pin: gpio23
sensor_pin: gpio27
microsteps: 16
rotation_distance: 4.689 #for 5mm Shaft Driven Bondtech gearsets
# rotation_distance: 29.184848485
# gear_ratio: 50:8 #for sherpa mini 8t motor
# gear_ratio: 6.5:1
full_steps_per_rotation: 200 #1.8deg Motor
nozzle_diameter: 0.400
filament_diameter: 1.750


sensor_type: EPCOS 100K B57560G104F? # round extruder
# control: pid
# pid_Kp: 31.973
# pid_Ki: 2.568
# pid_Kd: 99.519
min_temp: 0
max_temp: 260
pressure_advance: 0.03 
min_extrude_temp: 0
max_extrude_only_distance: 120
max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 3
run_current: 0.650
stealthchop_threshold: 0

[heater_bed]
heater_pin: gpio21
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpio26
control: pid
pid_kp: 64.440
pid_ki: 0.773
pid_kd: 1343.571
min_temp: 0
max_temp: 130

[fan]
pin: gpio17

[heater_fan heatbreak_cooling_fan]
pin: gpio18


[heater_fan controller_fan]
pin: gpio20

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[firmware_retraction]
retract_length: 3
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 20
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.


[mcu]
# USB
# serial: /dev/serial/by-id/usb-Klipper_rp2040_4550357127901338-if00
# serial: /dev/serial/by-id/usb-Klipper_rp2040_45503571288B53A8-if00
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_38FFD505304D593006760343-if00
# Serial
# serial: /dev/serial0

restart_method: command
