[gcode_macro PRINT_START]
gcode:
    STATUS_BED_HEATING
    {% set BED_TEMP = params.BED|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|default(190)|float %}
    # set bed and hotend for probing
    M140 S{BED_TEMP}
    M104 S170
    # Wait 
    M190 S{BED_TEMP}
    M109 S170
    # Use absolute coordinates
    G90
    # Home the printer
    STATUS_HOMING
    G28
    # CLEAN_NOZZLE_PARK
    # G4 S
    # CLEAN_NOZZLE
    # CALIBRATE_Z
    
    # If you are generating a new bed mesh:
    STATUS_MESHING
    # BED_MESH_CALIBRATE ADAPTIVE=1 ADAPTIVE_MARGIN=0 ADAPTIVE_FUZZ=2
    SMART_PARK
    # If you are loading an existing mesh:
    BED_MESH_PROFILE LOAD=default

    # Move the nozzle near the bed
    G1 Z5 F3000
    # Set and wait for nozzle to reach printing temperature
    STATUS_EXTRUDER_HEATING
    M109 S{EXTRUDER_TEMP}
    # Start printing!
    STATUS_PRINTING
    LINE_PURGE